{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai aur Django About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>About:</h1>
    <p>This is about page of chai aur Django</p>
    <div>
        <h1>Who We Are</h1>
        <p>Chai aur Django creates fast, custom billing software for shops and supermarkets.</p>
    </div>

    <div>
        <h1>What We Do</h1>
        <p>We replace slow registers with secure, automated checkout and real-time inventory systems.</p>
    </div>
</body>
</html>